.banner{
background-color:#C0C0C0;
width:100%;
height:100%;
margin bottom:50px;
}

h1 {
    text-align: center;
    color:blue

}

.banner-text{
top:25px;
left:500px;
position:middle;
transform:transform;

}